<!DOCTYPE html>
<html>
<head>
  <title>aqualight</title>
  <link rel="shortcut icon" type="image/png" href="app/favicon.ico"/>
  <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
</head>
<body>

</body>
<script>
   const _localIp = '<%=localIp%>'
 </script>
<script src="app/util.js"></script>
<script src="app/graph.js"></script>
<script src="app/index.js"></script>
</html>
